{% extends 'center/base.html' %}
{% block content %}
        <table class="table table-hover table-dark">
            <thead>
                    <tr>
                            <th scope="col">#</th>
                            <th scope="col">Owner Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Category</th>
                            <th scope="col">Date & time</th>


                    </tr>
            </thead>
        <tbody>

                        <tr>
                          <td>{{ object.id }}</td>
                          <td>{{ object.owner }}</td>
                          <td>{{ object.name }}</td>
                          <td>{{ object.category }}</td>
                          <td>{{ object.date_posted }}</td>


                        </tr>

          </tbody>
        </table>
        <a class="nav-link" href="{% url 'center:betters' object.id %}">Bet</a>

        {% for bet in bets %}
            <article class="media content-section">
                <img  src="{{ bet.better.profile.image.url }}" class="rounded-circle article-img">
                <div class="media-body">
                     <div class="article-metadata">
                  <a class="mr-2" href="#">{{ bet.better }}</a>
                     <small class="text-muted">{{ bet.betted_time }}</small>
                </div>
               <h2><a class="article-title" href="#">{{ bet.category }}</a></h2>
                <p class="article-content">Bet Amount : {{ bet.amount }}</p>
                </div>
                {% if bet.is_accepted %}
                    <h2> Accepted </h2>
                {% else %}
                    <h2><a class="article-title" href="{% url 'center:accept_deal' object.id bet.id %}">Accept</a></h2>
                {% endif %}
            </article>
        {% endfor %}
    {% endblock %}