{% extends 'center/base.html' %}
{% block content %}
        <table class="table table-hover table-dark">
            <thead>
                    <tr>
                            <th scope="col">#</th>
                            <th scope="col">Owner Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Category</th>
                            <th scope="col">Date & time</th>


                    </tr>
            </thead>
        <tbody>

                        <tr>
                          <td>{{ object.id }}</td>
                          <td>{{ object.owner_name }}</td>
                          <td>{{ object.item_name }}</td>
                          <td>{{ object.category }}</td>
                          <td>{{ object.timestamp }}</td>


                        </tr>

          </tbody>
        </table>

    {% endblock %}