{% extends 'center/base.html' %}
{% block content %}
        <table class="table table-hover table-dark">
            <thead>
                    <tr>
                            <th scope="col">#</th>
                            <th scope="col">Owner Name</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Product Category</th>
                            <th scope="col">Date & time</th>
                            <th scope="col">Action</th>

                    </tr>
            </thead>
        <tbody>

                        <tr>
                          <td>{{ object.id }}</td>
                          <td>{{ object.owner_name }}</td>
                          <td>{{ object.item_name }}</td>
                          <td>{{ object.category }}</td>
                          <td>{{ object.timestamp }}</td>
                          <td> <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'center:update_product' object.id %}">Update</a>
                          </td>

                        </tr>

          </tbody>
        </table>

    {% endblock %}