{% extends 'center/base.html' %}
    {% block content %}
     <div class="container">
    <div class="main-body">

          <!-- Breadcrumb -->

          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-3 mb-3">
              <div class="card">
                <div class="card-body">
                  {% if user.username == object.username %}
                    <a href="/profile">Edit</a>
                     {% endif %}
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ object.profile.image.url }}" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>{{object.username}}</h4>
                      <p class="text-secondary mb-1">{{object.profile.bio}}</p>
                      <button class="btn btn-primary">Follow</button>
                      <button class="btn btn-outline-primary">Message</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                   <p align="center"> Joined on:</p>
                    <p align="center">  {{object.profile.user.date_joined}}</p>
                  <p align="center"> Last Seen:</p>
                    <p align="center">  {{object.profile.last_active}}</p>
              </div>
            </div>
            <div class="col-md-7">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.profile.full_name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{object.profile.user.email}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    {{object.profile.phone_number}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{object.profile.address}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                       <h6 align="center">Items Sold </h6>
                       <hr>
                        {% for sold in solds|slice:":5" %}
                      <small>
                         * {{sold.item}}
                            to
                            {{sold.better}}  </small>
                      <hr>
                         {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 align="center">Items Brought </h6>
                      <hr>
                        {% for brought in broughts|slice:":5" %}

                                      <small>
                                      *{{brought.item}}
                                       from
                                      {{brought.item.owner.username}}
                                      </small>
                       <hr>


                            {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endblock content %}